{% extends 'base.html' %}

{% load static %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'users/add_users.css'%}">
{% endblock %}

{% block content %}
<div class="container mt-2">
  <h2>{{ users|default:'Create New Account' }}</h2>
  
  <form method="POST">
    {% csrf_token %}

    <div class="add_user">
      {{ form.as_p }}
    </div>
    

    <button type="submit" class="btn btn-primary me-4">Save</button>
    <a href="" class="btn btn-secondary">Cancel</a>
  </form>

</div>
{% endblock %}
