{% extends 'base.html' %}

{% block content%}
<section>
    <h3>Add Products Here:</h3>
    <a href="{% url 'add_pro' %}" class="btn btn-success mb-4">Add Products</a>
</section>

<section>
    <h3 class="mb-4">List of All Products:</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        {% for product in products %}
        <div>
            <div>
                
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top rounded-top-4" alt="{{ product.name }}"
                    style="max-width: 400px; height:370px; border-radius: 10px;"
                    >

                {% else %}
                    <img src="https://via.placeholder.com/400x250?text=No+Image" class="card-img-top rounded-top-4" alt="No image">
                {% endif %}

                <div>
                    <h5 class="card-title fw-bold text-primary">{{ product.name }}</h5>
                    <p class="fw-bold">💰 {{ product.price }} ETB</p>
                    <p class="card-text text-muted mb-4">{{ product.description|truncatewords:15 }}</p>
                </div>

                <div>
                    <a href="{% url 'pro_detl' product.id %}" class="btn btn-outline-primary w-100 mb-5 ">View Details</a>
                </div>
            </div>
        </div>
        {% empty %}
            <p class="text-center text-muted">No products available yet. Be the first to add one!</p>
        {% endfor %}
   </div>

    {% comment %} <ul>
        {% for product in products %}
        <div class="mb-4">
            <li> Product Name: <strong>{{ product.name }}</strong></li>
            <li> Product Price: {{ product.price }}</li>
            <li>status: {{ product.status }}</li>
            <li>Description: {{ product.description}}</li>
            <li>Seller: {{ product.seller.first_name }}</li>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top rounded-top-4">
        </div>
        {% empty %}

        <p class="text-center text-muted">No products available yet. Be the first to add one!</p>
        
        {% endfor %}
    </ul> {% endcomment %}
</section>
{% endblock content%}