{% extends 'base.html' %}

{% block content%}
<section>
    <h3>Add Products Here:</h3>
    <a href="{% url 'add_pro' %}" class="btn btn-danger mb-4">add product</a>
</section>

<section>
    <h3>List of Products:</h3>
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }} - {{ product.price }} {{product.image }} - {{ product.status }} - Seller: {{ product.seller.first_name }}
            </li>
            {% empty %}
        <p class="text-center text-muted">No products available yet. Be the first to add one!</p>
        {% endfor %}
    </ul>
</section>
{% endblock content%}